<footer class="footer-wrapper">
  <section class="f-main">
    <section class="col1">
      <ul>
        <li class="f-link">Privacy</li>
        <li class="f-link">Terms</li>
        <li class="f-link">Sitemap</li>
      </ul>
    </section>
    <section class="col2">
      <ul>
        <li class="f-link"><a href="#" class="a-no-style">LinkedIn</a></li>
        <li class="f-link">info@bookstore.com</li>
      </ul>
    </section>
    <section class="col3">
      <span>BookStore</span>
    </section>
  </section>
  <section class="f-bottom small-text">
    <span>&copy;BookStore</span>
  </section>
</footer>
