.book-item-details-footer {
  border-top: 1px solid #e2e1df;
  padding: 1.25rem 1.25rem 0 1.25rem;
  text-align: right;
  font-weight: 600;
}

.book-item-details-body p > span:nth-child(odd) {
  font-weight: 600;
}

app-button {
  margin: 3.5rem 0 2.5rem auto;
  max-width: 25rem;
}

.added-wishlist-wrapper {
  margin: 3.5rem 0 2.5rem auto;
  font-weight: 600;
  color: rgb(36, 129, 36);
  text-align: right;
}
