<div class="central signin-container">
  <form class="inner-form" #usernameForm="ngForm">
    <section class="call-for-action">
      <h4 class="simple-secondary-headline">Sign in</h4>
      <p class="small-text">Sign in to your BookStore account</p>
    </section>
    <div class="control-group">
      <label for="username" class="simple-text">Username</label>
      <input
        type="text"
        id="username"
        ngModel
        #username="ngModel"
        name="username"
        emptyValidation
        [class]="showEmailError ? 'error' : null"
        (ngModelChange)="checkUsernameValidity()"
        (blur)="checkUsernameValidity()"
      />
      <span class="custom-mat-hint" *ngIf="!showEmailError">{{hintMessage}}</span>
      <span class="custom-mat-error" *ngIf="showEmailError">{{errorMessage}}</span>
    </div>
    <app-button
      [buttonStyle]="'accent tall round no-line stretch'"
      [disabled]="!username.valid"
      (buttonClickEvent)="signinAction(usernameForm)">
      <span>Sign in</span>
    </app-button>
  </form>
</div>
