@import "../../styles/forms.css";

.central.signin-container {
  max-width: 400px;
  color: #0f0f0f;
}

.call-for-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 4rem 0;
}
.call-for-action > h4 {
  color: #001523;
  font-weight: bold;
}

.call-for-action > p,
.footer > p {
  color: #004a7c;
  font-weight: 500;
}

.inner-form {
  margin-bottom: 40%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.footer > app-button {
  width: 100%;
  padding: 2rem 0 0 0;
}

@media only screen and (max-device-width: 480px) {
  .central.signin-container {
    height: calc(100% - 2rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .call-for-action {
    align-items: baseline;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1167px) {
  .central.signin-container {
    height: calc(100% - 4rem);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (min-device-width: 1168px) {
  .central.signin-container {
    padding: 0;
  }
}
