<div class="central">
  <div class="error-container-wrapper">
    <img [src]="errorImageSource" width="473" height="321" alt="404" />
    <h4 class="simple-secondary-headline">Page not found</h4>
    <p class="simple-text">
      It looks like we are unable to find the requested route. Please try going
      back to the previous page.
    </p>
    <app-button
      [buttonStyle]="'minimal tall round no-line borders'"
      (buttonClickEvent)="backLocation()">
      <span>Back</span>
    </app-button>
  </div>
</div>
